.mtrack-container {
	overflow:hidden;
	background-color:#000;
	position: relative;
	padding:10px;
}

.mtrack-container .node circle {
	/*fill: #fff;*/
	stroke: steelblue;
	stroke-width: 1px;
	fill:inherit;
}

.mtrack-container .node {
	font: 16px sans-serif;
}

.mtrack-container text {
	font:20px 微软雅黑;
	pointer-events: none;
	fill:#ffffff;
}

.mtrack-container .link {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 5.5px;
}

.mtrack-container .mblogtrack-zoomin, .mtrack-container .mblogtrack-zoomout {
	position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929;
	padding: 3px;
	color: white;
	width: 15px;
	height: 15px;
	cursor: pointer;
	line-height: 15px;
	text-align: center;
}

.mtrack-container .mblogtrack-zoomin {
	 top: 10px;
}
.mtrack-container .mblogtrack-zoomout {
	 top: 35px;
}

.mtrack-container .unselectable {
	pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

.mtrack-container .mtrack-legend {
	position: absolute;
	bottom: 10px;
	right: 10px;
	
}
.mtrack-container .mtrack-bd {
	border: 1px solid #ccc;
	padding: 1px;
}
.mtrack-container .mtrack-color {
	border-style: solid;
	border-width: 5px;
	/*border-color: #EE6D08;*/
	opacity: 1;
	overflow: hidden;
}
.mtrack-container .mtrack-text {
	color: #fff;
}
